$gold: #b8860b;
$brown: #3f2b22;
$beige: #f5f5dc;
$warmneutral:#ffe4c4;
$warmcocoabrown: #4a3f35;
$charcoal: #2b2b2b;
$deepburgundy: #5a2d2d;
$deep-brown-black: #1f1a17;
$warmcream: #f8f5f0;
$softbeige-white: #faf7f2;
$lightgray: #f3f3f3;
$warm-neutral: #efe7dd;
$warmfeel: #2b2118;

$bm-large: 8vw;
$am-large: 1rem auto;
$small-bm: 1.51rem;
$pl: 6rem;
