@use "variables" as *;

@use "mixins" as *;

.best-sell{
  margin: 2rem auto;
  margin-top: 15rem;
  margin-bottom: 20vw;
}

.best-sell-header{
  font-family: "Playfarir Display", serif;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1em;
  font-style: italic;
  margin-bottom: $small-bm;
  color: $softbrown;
  font-size: clamp(1.3rem, 4vw, 5rem);
  cursor: pointer;
}

.best-sell-header:active{
  text-decoration: underline 2px goldenrod;
  text-underline-offset: 3px;
}

.best-sell-grid{
  width: 90%;
  margin: 2.5rem auto;
  min-width: 20rem;
  height: auto;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-bottom: 4rem;
}

.best-sell-pic{
  min-width: 20rem;
  max-width: 25rem;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 3 1;
  @include color-border;
  @include round-corner;
  background-color: $lightsand;
}

.best-sell-img{
  height: 300px;
  width: 100%;
  min-height: 280px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.best-sell-img:hover{
  transform: scale(1.005);
  transition: ease 0.5s;
}

.new-prod-info{
  border-top: 1px gray;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  width: auto;
  min-width: 100%;
  padding: 0.6rem;
}

.new-name-rate{
  display: inline-flex;
  flex-direction: row;
  max-width: 100%;
  flex: 1;
  margin-bottom: 0.5rem;
  //gap: clamp(0.3rem, 1.2vw, 1.3rem);
  //border-bottom: solid 1px gray;
 // padding-bottom: 0.2rem;
}

.new-prod-name{
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  white-space: nowrap;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.0085em;
  justify-content: left;
  color: $softbrown;
}

.rating{
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
}

.new-prod-descr{
  font-family: "Lato", sans-serif;
  font-size: clamp(0.85rem, 2vw, 1.5rem);
  letter-spacing: 0.1em;
  text-align: left;
  color: $brown;
}

.new-price-shop{
  margin-top: 3%;
  display: inline-flex;
  flex-direction: row;
  flex: 4 1.5;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
  padding-right: 0.5rem;
}

.new-prod-price{
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: clamp(1.35rem, 2vw, 1.5rem);
  color: $brown;
}

.buy-prod {
  align-items: center;
  justify-content: center;
  @include shop-button;


  &.active{    
    background-color: $beige;
    color: $brown;
    transition: all ease 0.6s;
  }
}

/**.buy-prod:hover{
  transform: scale(1.1);
  transition: all 0.1s ease;
}**/

.buy-prod:active{
}


@media (min-width: 640px) {
  .best-sell-img{
    height: 450px;
  }

  .new-prod-name{
    font-size: clamp(1.35rem, 3.85vw, 1.75rem);
  }
}


@media (min-width: 768px) {
  .best-sell-img{
    height: 500px;
  }

  .new-prod-name{
    font-size: clamp(1.35rem, 3vw, 1.85rem);
  }

  .new-prod-descr{
    font-size: clamp(0.85rem, 1.5vw, 1rem);
  }
}


@media (min-width: 1024px) {
  .best-sell-grid{
    gap: 1.2rem;
  }

  .best-sell-pic{
    min-width: 23rem;
  }

  .best-sell-img{
    height: 450px;
  }

  .new-prod-name{
    font-size: clamp(1.2rem, 2.35vw, 2rem);
  }

  .new-prod-descr{
    font-size: clamp(1.2rem, 1.2vw, 1.35rem);
  }
}


@media (min-width: 1440px) {
  .best-sell{
    width: 90%;
  }

  .best-sell-grid{
    gap: 2rem;
  }

  .best-sell-pic{
    height: auto;
    min-width: 25rem;
  }

  .best-sell-img{
    height: 40rem;
  }

  .new-prod-name{
    font-size: clamp(1.6rem, 2vw, 2.3rem);
  }

  .new-prod-descr{
    font-size: clamp(1.2rem, 1.35vw, 1.35rem);
  }
}



@media (min-width: 2560px) {
  .best-sell-grid{
    gap: 2rem;
  }

  .best-sell-pic{
    min-width: 35rem;
  }

  .best-sell-img{
    height: 50rem;
  }

  .new-prod-name{
    font-size: clamp(1.75rem, 1.5vw, 2.75rem);
  }

  .new-prod-descr{
    font-size: clamp(1.3rem, 0.85vw, 1.5rem);
  }
}


