@use "variables" as *;

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);


html{
  font-size: 15px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover{
  transform: scale(1.05);
  text-decoration: underline $gold;
  transition: all ease 0.5s;
}


p{
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-size: 20px;
  color: $charcoal;
}

body{
  /**background-image: url(pawel-czerwinski-VlgBaRLkpX0-unsplash.jpg);**/
  background-color: $warm-neutral;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

button{
  width: auto;
  font-size: clamp(0.85rem, 1.2vw, 2rem);
  padding: clamp(0.35rem, 0.3vw, 0.5rem) clamp(0.5rem, 0.75vw, 1.2rem);
  border: none;
  border-radius: clamp(8px, 12px, 14px);
  cursor: pointer;
}

button:hover{
  transform: scale(1.05);
  transition: ease 0.5s;
  opacity: 0.3s gray;
}

img{
  width: 100%;
  height: auto;
  display: block;
}

header{
  z-index: 200;
  position: fixed;
  justify-content: space-between;
  background-color: $deep-brown-black;
  align-items: center;
  gap: 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: row;
  position: fixed;
  width: 100%;
  padding: 5px;
  height: 3rem;
  top: 0;
}

.website{
  z-index: 7;
  margin-top: 4rem;
}

footer{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  bottom: 1vw;
}