@use "variables" as *;

@use "mixins" as *;



.featured-collection{
  display: flex;
  flex-direction: row;
  flex: 10 1;
  width: 75%;
  min-width: 70%;
  margin: 2rem auto;
  min-height: 15rem;
  max-height: 45rem;
  align-items: center;
  justify-content: center;
  background-color: $champagne;
  margin-bottom: $bm-large;
  @include round-corner;
}

.featured-pic{
  width: 70%;
  min-width: 9.5rem;
  height: auto;
  display: flex;
  flex: 1;
  flex-shrink: auto;
  max-height: 45rem;
  margin-right: 2vw;
  object-fit: cover;
  object-position: left;
  @include round-corner;
}

.featured-info{
  max-height: 65%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  white-space: wrap;
}

.featured-collection h3{
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  font-size: clamp(0.7rem, 2vw, 5rem);
  color: $softbrown;
  margin-bottom: 5vw;
  letter-spacing: 0.15em;
  text-decoration: underline 1.25px;
  text-underline-offset: 3px;
}

.featured-header{
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: clamp(0.6rem, 2vw, 2rem);
  line-height: 1;
  text-align: center;
  color: $warmtaupe;
  margin-bottom: 1.85vw;
}

.featured-paragraph{
  font-family: "Open Sans", sans-serif;
  font-size: clamp(0.45rem, 1.75vw, 1.35rem);
  overflow-wrap: break-word;
  white-space: normal;
  margin-bottom: 5vw;
  margin-top: 2vw;
  color: $warmtaupe;
  max-width: 38ch;
  letter-spacing: 0.085em;
  text-align: center;
}

.featured-info a{
  white-space: nowrap;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: clamp(0.6rem, 2.5vw, 2rem);
  color: $deepburgundy;
}


.featured-info a:hover{
  text-decoration: underline;
  transform: translateY(-20%);
  transition: all ease 0.35s;
}