@use "variables" as *;

@use "mixins" as *;

footer{
  bottom: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-top: solid 3.5px $gold;
  background-color: $deep-brown-black;
}

.footer-top{
  width: 60%;
  margin: 0.5rem 4rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 4vw;
  justify-content: center;
  align-items: center;
  overflow-wrap: normal;
}

.footer-top a{
  color: $beige;
  justify-content: space-between;
  letter-spacing: 0.2em;
  white-space: nowrap;
  text-decoration: none;
  font-size: clamp(0.5rem, 2vw, 1.1rem);
}

.footer-top a:hover{
  text-decoration: none;
  transform: none;
  color: gray;
  transition: all ease 0.25s;
}

.footer-content-info{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-content-par{
  font-weight: 350;
  font-size: clamp(0.7rem, 1.2vw, 1rem);
  letter-spacing: 0.15em;
  margin-bottom: 0.1rem;
  color: $beige;
}