@use "variables" as *;

@use "mixins" as *;

footer{
  margin: auto;
  bottom: 10rem;
  width: 100%;
  text-align: center;
  border-top: solid 0.5px $deep-brown-black;
}

.footer-content-info{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-content-paragraph{
  color: $deep-brown-black;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-content-info h4{
  @include footer-h4-style;
}

.footer-content-shop{
  @include footer-style;
}

.footer-content-shop h4{
  @include footer-h4-style;
}

.footer-content-contact{
  @include footer-style;
}

.footer-content-contact h4{
  @include footer-h4-style;
}

.footer-content-newsletter{
  @include footer-style;
}

.footer-content-newsletter h4{
  @include footer-h4-style;
}

.footer-newsletter-paragraph{
  font-family: "Lato", sans-serif;
  color: $deep-brown-black;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 30ch;
  white-space: normal;
  margin-bottom: 1vw;
}