@use "variables" as *;

@use "mixins" as *;

footer{
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-top: solid 3.5px $gold;
}

.footer-top{
  width: 60%;
  margin: 0.5rem 4rem;
  display: flex;
  flex-direction: row;
  gap: 4vw;
  justify-content: center;
  align-items: center;
  overflow-wrap: normal;
}

.footer-top a{
  color: $warmcream;
  justify-content: space-between;
  letter-spacing: 0.2em;
  white-space: nowrap;
  text-decoration: none;
  font-size: clamp(0.5rem, 2vw, 1.1rem);

  .contact {
    display: flex;
    flex: 1;
    width: 2rem;
    overflow: hidden;


    .social-icons {
      display: flex;
      flex-direction: row;

      a {
        color: $warmcream;
        font-size: 18px;
        transition: color 0.2s ease;
      }
    }
  }  
}

/*.footer-top a:hover{
  text-decoration: none;
  transform: none;
  color: gray;
  transition: all ease 0.25s;
}*/

.footer-content-info{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}