@use "variables" as *;

@use "mixins" as *;

.left{
  flex: 1;
  display: flex;
  width: 35%;
  align-items: center;  
  left: 1.5vw;
}

.menu{
  display: none;
  flex: 1;
  color: $warm-neutral;
  cursor: pointer;
  width: 1.75vw;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-left: 5%;
}

.Logo{
  background-color: $warm-neutral;
  display: block;
}

.center{
  flex: 2;
  display: flex;
  flex-wrap: nowrap;
  width: 45%;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  box-sizing: border-box;
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* WebKit browsers */
  ::-webkit-scrollbar {
    display: none;
  }
}

.center a,
.right a {
  @include a-link;
  letter-spacing: 1.8px;
  color: $warmneutral;
}

.center a:hover,
.right a:hover {
  transform: scale(1.15);
  text-decoration: underline $gold;
  transition: ease 0.5s;
}

.right{
  width: 20%;
  display: flex;
  flex-direction: row;
  flex: 1 5;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
  padding-left: 1rem;
}

.icon{
  max-width: 25px;
  min-width: 15px;
  height: 25px;
  min-height: 15px;
  cursor: pointer;
  border: none;
  flex: 1 1;
}

.icon:hover{
  opacity: 0.8s rgb(45, 42, 42);
}

.left,
.center,
.right{
  min-width: 0;
}


@media (max-width: 640px) {
  header{
    height: fit-content;
    padding: 1rem;
  }

  .left{
    gap: 1rem;
  }

  .Logo{
    align-self: center;
    justify-content: center;
    object-position: center;
  }

  .menu{
    width: 25px;
    display: block;
    color: #fff;
    justify-content: top;
    align-items: center;
  }

  .menu/**:hover,**/ :active{
    .header-link{
      display: flex;
    }
  }

  .header-link{
    display: none;
    margin-right: 7px;
    font-size: clamp(0.5rem, 1.2vw, 1.3rem);
    padding: clamp(0.2rem, 0.175vw, 0.4rem) clamp(0.45rem, 0.7vw, 1.9rem);
  }
}