@use "variables" as *;
@use "mixins" as *;


header{
  z-index: 200;
  position: fixed;
  top: 0;
  background-color: $softbrown;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 2rem;
  height: 3.5rem;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;

  &.scrolled {
    box-shadow: 0 2px 10px rgba(21, 20, 20, 0.1);
  }


  @media (min-width: 768px) {
    gap: 1.5rem;
    padding: 0.5rem;
  }
}


.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  width: 60vw;
  padding: 5px;
  white-space: normal;
  overflow: hidden;
  margin-left: 0;
  p {
    white-space: normal;
    line-height: 1;
    line-break: auto;
    max-width: 10ch;
    color: $warm-cream;
    margin-left: 0.5rem;

    @media (min-width: 768px) {
      padding-left: 0.75rem;
    }

    .main-name{
      letter-spacing: 0.07em;
      text-decoration: underline 1.25px $richgold;
      text-underline-offset: 6px;
      text-align: center;
      font-size: clamp(0.75rem, 1.25vw, 1.5rem);
    }

    .sub-name {
      white-space: nowrap;
      font-size: clamp(0.6rem, 0.85vw, 1.6rem);
      text-align: left;
      letter-spacing: 0;
      margin-top: 0;
      text-decoration: none;
    }
  }

  img{
    color: $warm-neutral;
  }


  @media (min-width: 768px) {
    width: 20vw;
  }
}


.hamburger {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 2rem;
  height: 100%;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-left: 1.5%;
  margin-right: 5%;

  span {
    display: block;
    height: 1.5px;
    width: 2vw;
    background-color: $warmcream;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }



  &.active {
    span:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.nav-menu {
  display: none;

  a {
    @include a-link;
  }

  &.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    align-items: left;
    left: 0;
    width: 100%;
    background-color: $lightsand;
    padding: 1rem;

    a {
      color: $brown;
      font-weight: bold;
    }
  }

  

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
    flex: 1;
    width: 40vw;
    gap: 0.8vw;

    a.active-page {
      border-radius: 0.5rem;
      background-color: $warmtaupe;
      padding: 0.35rem 1rem;
    }
  }
  

  @media (min-width: 1024px) {
    padding-right: 2.35rem;
  }

  @media (min-width: 1440px) {
    padding-right: 5.5rem;
  }




  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1vw;
    width: 100%;
    align-items: center;
    letter-spacing: 1.8px;
    color: $warm-neutral;
    text-align: center;
    padding: 0.5rem 0;


    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;      

      /**a:hover {
        transform: scale(1.05);
        text-decoration: underline $gold;
        transition: all ease 0.5s;
      }**/
    }
  }
}


.right {
  width: 20vw;
  padding: 5px;
  margin: 0;
  justify-content: center;
  @include header-right;
  overflow: hidden;

  .cart-section {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 0.4rem;

    .notification {
      position: absolute;
      top: 2.5px;
      right: 0.15px;
      color: $charcoal;
      justify-content: top;
      padding: 1.5px 2.5px 1px 0;
      font-size: clamp(0.45rem, 0.7vw, 0.65rem);
      font-family: 'Lato', sans-serif;
      background-color: $warm-neutral;
      border-radius: 7px;
    }
  }
  

  .icon {
    display: inline-flex;
    max-width: 1.75rem;
    min-width: 0.95rem;
    //width: clamp(0.7rem, 1.25vw, 1.35rem);
    height: auto;
    //min-height: 15px;
    cursor: pointer;
    border: none;
    flex: 1;
  }

  @media (min-width: 768px) {
    max-width: 10rem;
    padding: 0.15rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 1024px) {
    max-width: 15rem;
    padding: 0.15rem;
    margin-right: 0.85rem;
  }
}

/**@media (max-width: 640px) {
  header {
    height: 4rem;
    padding: 1rem;
  }

  .left {
    gap: 1rem;
  }

  .hamburger {
    display: flex; // shown on mobile
  }

  .nav-menu {
    display: none; // hidden until toggled by JS
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $brown;
    padding: 1rem;
  }

  .header-link {
    display: flex;
    margin-right: 7px;
    text-align: center;
    font-size: clamp(0.5rem, 1.2vw, 1.3rem);
    padding: clamp(0.2rem, 0.175vw, 0.4rem) clamp(0.45rem, 0.7vw, 1.9rem);
  }

  right {
    justify-content: left;
    gap: 1rem;
  }
}**/