@use "variables" as *;
@use "mixins" as *;


.shop{
  width: 100%;
  margin: 1rem auto;
}

/**.brand-voice {
  margin: 2rem auto;
  text-align: center;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5em;
  font-size: clamp(0.7rem, 1vw, 1.25rem);
  line-height: normal;
}**/

.shop-intro {
  text-align: center;
  align-items: center;
  margin-top: 6rem;

  h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    color: $brown;
    line-height: normal;
    margin-bottom: 2%;
    letter-spacing: 0.1em;
    text-decoration: underline 1.75px;
    text-underline-offset: 2.8px;
  }

  p{
    letter-spacing: 0.1em;
    font-weight: 400;
    color: $brown;
    font-size: clamp(0.85rem, 1.2vw, 1.35rem);
    line-break: auto;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.whole-shop{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: $champagne;
}

.filter{
  display: flex;
  flex-direction: row;
  flex: 1;
  //height: 2rem;
  padding: 0.25rem;
  margin: 0;
  overflow: scroll;
  scrollbar-width: none;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background-color: $softbeige;
  border-radius: 0.5rem;
  //box-shadow: 0 2px 10px rgba(21, 20, 20, 0.1);

  
  .quick-filter{
    align-items: left;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 0.35rem;
    padding: 0 0.75rem;

    .filter-icon{
      display: block;
      width: 3vw;
      align-items: center;

      @media (min-width: 1024px) {
        width: 1.5vw;
      }
    }

    .filter-btn-row {
      display: none;


      &.visible {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
        overflow-y: auto;
        scrollbar-width: none;
        height: 3.2rem;
        padding: 0.15rem;
        align-items: center;
        justify-content: center;
        //background-color: $brown;
      }

      .filter-button {
        background-color: $softbeige;
        color: $charcoal;
        padding: 0.25rem;
        border-radius: 0;
        text-align: center;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        white-space: nowrap;
        font-size: clamp(0.65rem, 0.75vw, 1.2rem);


        &.active{
          background-color: $softbrown;
          color: white;
          border-radius: 0.5rem;
          transition: all ease 0.5s;
          padding: 0.25rem 0.5rem;
        }
      }

      @media (min-width: 768px) {
        gap: 0.85rem;
      }
    }
  }

  .search{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 0.5rem;
    justify-content: right;
    align-items: center;
    padding-right: 0.35rem;
  }

  .search-bar {
    display: none;
    align-self: center;
    height: 1rem;
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    color: $darkgold;

    &.visible{
      display: flex;
    }

    &.invisible{
      display: none;
    }
  }

  .search-icon {
    width: 1.35rem;
    height: auto;
    display: flex;
    align-items: center;
  }
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 1rem;
  margin-top: 0;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;

  @media (min-width: 768px) {
    max-height: 90vh;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1.75px solid $warm-neutral;
  border-top-right-radius: 1.35rem;
  border-top-left-radius: 1.35rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: $softbeige;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  &.hide {
    display: none;
  }

  &.active::after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: $brown 0.5s;
    pointer-events: none;
    z-index: 1;
    transition: all ease 0.5s;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-right-radius: 1.35rem;
    border-top-left-radius: 1.35rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  img :hover {
    transform: scale(1.05); //translateY(-3px);
  }

  h3 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(0.9rem, 2vw, 1.35rem);
    margin-bottom: 3%;
    color: $brown;
    line-height: normal;
    letter-spacing: 0.05em;
    font-weight: 300;
    white-space: normal;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: clamp(0.75rem, 2vw, 1rem);
    color: $softbrown;
    margin-bottom: 1rem;
  }
}