@use "variables" as *;

@use "mixins" as *;

.wel-body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 90%;
  overflow: hidden;
  margin: 2rem auto;
  margin-top: 6rem;
  grid-template-areas: "stack";
  @include color-border;
  @include round-corner;

  > * {
    grid-area: stack;
  }

 @media (min-width: 768px) {
    width: 70%;
    margin: 5rem auto;
  }
}

.wel-image {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  object-fit: cover;
  object-position: center;

  @media (min-width: 768px) {
    object-position: center;
  }
}

.wel-cont{
  align-items: center;
  justify-content: center;
  padding: 0 0 0.1rem 4%;
  text-align: left;


  @media (min-width: 640px) {
    padding: 0.8rem 0 0.1rem 4%;
  }


  @media (min-width: 768px) {
    padding: 0.5rem 0 1rem 1.75rem;
  }
}

.wel-top{
  font-family: "Lato", sans-serif;
  font-size: clamp(0.25rem, 2vw, 0.75rem);
  margin: 5% auto 0.35% 6%;
  letter-spacing: 0.4em;
  color: $deepburgundy;
}

.wel-cont h1{
  font-family: "Playfair Display", serif;
  font-size: clamp(1.2rem, 7vw, 2rem);
  max-width: 10ch;
  font-weight: 600;
  color: $brown;
  line-height: 1.25;
  margin-bottom: 1%;


  @media (min-width: 768px) {
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
}

.wel-sub{
  font-family: "Lato", sans-serif;
  font-size: clamp(0.5rem, 2.5vw, 1rem);
  max-width: 30ch;
  letter-spacing: 0.2em;
  line-height: 1.5;
  color: $brown;
  margin-bottom: 0.3%;


  @media (min-width: 768px) {
    margin-bottom: 2%;
  }
}


.shop-button{
  font-size: clamp(0.5rem, 1.25vw, 1.3rem);
  padding: 0.5rem 1rem;
  margin-left: 3%;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-radius: 999px;
  color: $warmcream;
  font-family: 'Lato', sans-serif;
  background-color: $softbrown;
  white-space: nowrap;
  text-decoration: none;

  &.active{
    background-color: $warmcream;
    color: $warmcream;
    //text-decoration: underline 1px $gold;
    transition: all ease 0.6s;
  }

  @media (min-width: 640px) {
    margin-top: 2%;
  }
   
}





@media (min-width: 640px) {
  .wel-cont h1{
    font-size: clamp(2.5rem, 6.5vw, 3.75rem);
  }

  .wel-sub{
    font-size: clamp(1rem, 2.2vw, 1.2rem);
    max-width: 30ch;
  }
}


@media (min-width: 768px) {
  .wel-top{
    font-size: clamp(0.5rem, 1vw, 1rem);
  }

  .wel-cont h1{
    line-height: normal;
    font-size: clamp(2.75rem, 3.5vw, 4.5rem);
  }

  .wel-sub{
    font-size: clamp(1rem, 1vw, 1.35rem);
  }
}


@media (min-width: 1024px) {
  .wel-cont{
    padding-bottom: 0.25rem;
  }


  .wel-top{
    font-size: clamp(0.75rem, 1vw, 1rem);
  }

  .wel-cont h1{
    font-size: clamp(3.75rem, 5vw, 4.5rem);
  }

  .wel-sub{
    letter-spacing: 0.25em;
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    margin-bottom: 0.5rem;
  }
}


@media (min-width: 1440px) {
  .wel-body{
    width: 60%;
  }

  .wel-top{
    font-size: clamp(0.75rem, 1vw, 1rem);
  }

  .wel-cont h1{
    font-size: clamp(4rem, 5.35vw, 5rem);
    margin-bottom: 0.5rem;
  }

  .wel-sub{
    width: 38ch;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
  }
}


@media (min-width: 2560px) {
  .wel-body{
    max-width: 60%;
  }

  .wel-cont{
    top: 15%;
  }

  .wel-top{
    font-size: clamp(0.75rem, 1vw, 1rem);
  }

  .wel-cont h1{
    font-size: clamp(4rem, 5vw, 7rem);
    margin-bottom: 1.5rem;
  }

  .wel-sub{
    width: 38ch;
    font-size: clamp(1.1rem, 1.5vw, 2rem);
    margin-bottom: 2rem;
  }
}